@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Domine:wght@700&family=Open+Sans&display=swap");
$alfa-font: "Alfa Slab One", cursive;
$open-sans-font: "Open Sans", sans-serif;
$domine-font: "Domine", serif;
$yellow-tcnj: #fdd700;
$blue-dark-tcnj: #464e7d;
body {
  margin: 0;
  padding: 0;
}
.page-break {
  padding: 200px 0;
  border: 1px 0 0 0 solid white;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}
.crm-campaign {
  background-color: $blue-dark-tcnj;
  width: 100%;
  margin: 0;
  padding: 0;
  .inner-page {
    text-align: center;
    max-width: 1130px;
    margin: 0 auto;
    #logo-top {
      margin: 75px 0;
      max-width: 365px;
      width: 100%;
    }
    h2 {
      font-family: $alfa-font;
      color: white;
      font-size: 75px;
      line-height: 90px;
      font-weight: 400;
      margin: 0;
    }
    h4 {
      font-weight: 400;
    }
    h1 {
      font-family: $domine-font;
      //   text-transform: uppercase;
      padding-bottom: 76px;
      font-weight: 700;
      color: $yellow-tcnj;
      font-size: 110px;
      line-height: 125px;
      margin: 0;
    }
    .video-container {
      position: relative;
      // min-height: 637px;
      // width: 100%;

      padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
      /* padding-bottom: 62.5%; - 16:10 aspect ratio */
      /* padding-bottom: 75%; - 4:3 aspect ratio */
      padding-top: 0px;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        // width: auto;
        // height: 637px;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }

    .screen-container {
      width: 100%;
      position: absolute;
      z-index: 3;
      cursor: pointer;
      img {
        width: 100%;
      }
      #play-button {
        content: url(https://tcnj.edu/custom/icon-library/Play-button.png);

        text-align: center;
        z-index: 11;
        pointer-events: none;

        display: flex;
        width: 153px;
        height: 153px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .video-or-gallery-description {
      padding: 50px 0 87px;
      p {
        font-family: $open-sans-font;
        color: white;
        font-size: 23px;
        line-height: 35px;
        font-weight: 400;
        margin: 0;
      }
    }
    .landing-container {
      margin: 76px 0 86px;
      h4,
      p {
        text-align: left;
        color: white;
      }
      h4 {
        font-family: $alfa-font;
        font-size: 35px;
        line-height: 35px;
        margin: 0;
      }
      p {
        font-family: $open-sans-font;
        font-size: 23px;
        line-height: 35px;
      }
      img {
        float: right;
        margin-left: 44px;
        margin-bottom: 30px;
      }
    }
    #story-only {
      .landing-container {
        margin: 0px 0 86px;
        p {
          margin: 35px 0 0;
        }
      }
    }
    #gallery-only {
      .gradient-overlay {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(0, 0, 0, 0.465406) 80%,
          black 100%
        );
        height: 100%;
        position: absolute;
        z-index: 8;
        width: 100%;
        pointer-events: none;
      }
      .splide {
        margin: 0 auto;
      }
      .caption {
        z-index: 10;
        position: absolute;
        color: white;
        bottom: 72px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        font-family: $open-sans-font;
        font-size: 20px;
        line-height: 30px;
        padding: 0 20px;
        max-width: 750px;
      }
      .splide__arrow--prev {
        left: 74px;
      }
      .splide__arrow--next {
        right: 74px;
      }
      .thumbnails {
        display: flex;
        margin: 49px auto 22px;
        padding: 0;
        justify-content: center;
      }

      .thumbnail {
        width: 125px;
        height: 125px;
        overflow: hidden;
        list-style: none;
        margin: 0 0.2rem;
        cursor: pointer;
        opacity: 0.3;
      }

      .thumbnail.is-active {
        opacity: 1;
      }

      .thumbnail img {
        max-width: fit-content !important;
        width: auto;
        height: 125px;
        object-position: -50px;
      }
    }
  }
  .cta {
    padding-bottom: 125px;
    h3 {
      color: $yellow-tcnj;
      font-family: $alfa-font;
      font-size: 50px;
      line-height: 90px;
      font-weight: 400;
      margin: 0 0 25px;
    }
    a {
      max-height: 74px;
      transition: all 0.25s;
      padding: 0 35px;
      display: inline-flex;

      align-items: center;

      justify-content: center;
      text-align: center;
      text-decoration: none;
      background-color: #ffffff;
      color: black;
      border-radius: 0px;
      outline: none;
      flex-basis: 352px;
      border: 2px solid white;
      height: 74px;
      font-size: 20px;
      line-height: 35px;
      font-family: $domine-font;
      font-weight: 400;
      &:hover {
        background-color: $blue-dark-tcnj;
        color: white;
      }
    }
  }
}
.email-footer {
  display: flex;
  max-width: 1130px;
  margin: 38px auto;
  align-content: center;
  .social-icons-container {
    display: flex;
    gap: 15px;
    align-items: center;
    p {
      margin-left: 25px;
      font-family: $open-sans-font;
      color: $blue-dark-tcnj;
      font-size: 16px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    margin-left: auto;
  }
}

@media screen and (max-width: 1130px) {
  .crm-campaign {
    .inner-page {
      margin: 0 20px;
      width: calc(100% - 40px);
    }
  }
  .email-footer {
    margin: 20 px20px;

    .social-icons-container {
      p {
      }
      img {
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .crm-campaign {
    .inner-page {
      .screen-container {
        #play-button {
          width: 60px;
          height: 60px;
        }
      }
      #gallery-only .splide__arrow--next {
        img {
          width: 25px;
        }
        right: 10px;
      }
      #gallery-only .splide__arrow--prev {
        img {
          width: 25px;
        }
        left: 10px;
      }
      h1 {
        font-size: 60px;
        line-height: 60px;
        margin-top: 15px;
      }
      h2 {
        font-size: 50px;
        line-height: 50px;
      }
      // width: 100%;
      .landing-container {
        h4 {
          font-size: 30px;
          line-height: 30px;
        }
        p {
          margin: 30px 0 0;
          line-height: 30px;
        }
        img {
          float: none;
          width: 100%;
          max-width: 450px;
          margin-left: 0;
        }
      }
    }
    .cta h3 {
      font-size: 45px;
      line-height: 50px;
    }
  }
  .email-footer {
    padding: 0 20px;
    flex-direction: column;
    .social-icons-container {
      margin-top: 20px;
      margin-right: auto;
      gap: 10px;
      flex-wrap: wrap;
      p {
        margin-left: 0;
      }
      img {
      }
    }
  }
}
