@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Domine:wght@700&family=Open+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
}

.page-break {
  padding: 200px 0;
  border: 1px 0 0 0 solid white;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}

.crm-campaign {
  background-color: #464e7d;
  width: 100%;
  margin: 0;
  padding: 0;
}

.crm-campaign .inner-page {
  text-align: center;
  max-width: 1130px;
  margin: 0 auto;
}

.crm-campaign .inner-page #logo-top {
  margin-top: 75px;
}

.crm-campaign .inner-page h2 {
  font-family: "Alfa Slab One", cursive;
  color: white;
  font-size: 75px;
  line-height: 90px;
  font-weight: 400;
  margin-bottom: 0;
}

.crm-campaign .inner-page h1 {
  font-family: "Domine", serif;
  padding-bottom: 32px;
  font-weight: 700;
  color: #fdd700;
  font-size: 110px;
  line-height: 125px;
  margin: 0;
}

.crm-campaign .inner-page .video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* - 16:9 aspect ratio (most common) */
  /* padding-bottom: 62.5%; - 16:10 aspect ratio */
  /* padding-bottom: 75%; - 4:3 aspect ratio */
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.crm-campaign .inner-page .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.crm-campaign .inner-page .screen-container {
  width: 100%;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.crm-campaign .inner-page .screen-container img {
  width: 100%;
}

.crm-campaign .inner-page .screen-container #play-button {
  content: url(https://tcnj.edu/custom/icon-library/Play-button.png);
  position: absolute;
  text-align: center;
  z-index: 11;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96px;
  height: 96px;
  margin: 0 auto;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.crm-campaign .inner-page .video-or-gallery-description {
  padding: 50px 0;
}

.crm-campaign .inner-page .video-or-gallery-description p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 23px;
  line-height: 35px;
  font-weight: 400;
}

.crm-campaign .inner-page .landing-container {
  margin: 76px 0 86px;
}

.crm-campaign .inner-page .landing-container h4,
.crm-campaign .inner-page .landing-container p {
  text-align: left;
  color: white;
}

.crm-campaign .inner-page .landing-container h4 {
  font-family: "Alfa Slab One", cursive;
  font-size: 35px;
  line-height: 35px;
  margin: 0;
}

.crm-campaign .inner-page .landing-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  line-height: 35px;
}

.crm-campaign .inner-page .landing-container img {
  float: right;
  margin-left: 44px;
  margin-bottom: 30px;
}

.crm-campaign .inner-page #gallery-only .gradient-overlay {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(0, 0, 0, 0.465406)), to(black));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.465406) 80%, black 100%);
  height: 100%;
  position: absolute;
  z-index: 8;
  width: 100%;
  pointer-events: none;
}

.crm-campaign .inner-page #gallery-only .splide {
  margin: 0 auto;
}

.crm-campaign .inner-page #gallery-only .caption {
  z-index: 10;
  position: absolute;
  color: white;
  bottom: 72px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.crm-campaign .inner-page #gallery-only .thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crm-campaign .inner-page #gallery-only .thumbnail {
  width: 125px;
  height: 125px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.3;
}

.crm-campaign .inner-page #gallery-only .thumbnail.is-active {
  opacity: 1;
}

.crm-campaign .inner-page #gallery-only .thumbnail img {
  width: 100%;
  height: auto;
}

.crm-campaign .cta {
  padding-bottom: 125px;
}

.crm-campaign .cta h3 {
  color: #fdd700;
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  line-height: 90px;
  font-weight: 400;
  margin: 0 0 25px;
}

.crm-campaign .cta a {
  max-height: 74px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  padding: 0 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  color: black;
  border-radius: 0px;
  outline: none;
  -ms-flex-preferred-size: 352px;
      flex-basis: 352px;
  border: 2px solid white;
  height: 74px;
  font-size: 20px;
  line-height: 35px;
  font-family: "Domine", serif;
  font-weight: 400;
}

.crm-campaign .cta a:hover {
  background-color: #464e7d;
  color: white;
}

.email-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1130px;
  margin: 38px auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.email-footer .social-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.email-footer .social-icons-container p {
  margin-left: 25px;
  font-family: "Open Sans", sans-serif;
  color: #464e7d;
  font-size: 16px;
}

.email-footer .social-icons-container img {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=crm-style.css.map */